@tailwind base;
@tailwind components;
@tailwind utilities;
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}
.react-chatbot-kit-chat-bot-avatar-icon {
  background-image: "./assets/chatbot.png";
}